* {
    /* font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 14px;
}

:root {
    --primary_darkCyan: hsl(158%, 36%, 37%);
    --primary_cream: hsl(30, 38%, 92%);
    --neutral_darkBlue: hsl(212, 21%, 14%);
    --neutral_grayishBlue: hsl(228, 12%, 48%);
    --neutral_white: hsl(0, 0%, 100%);
    --green: #3D8268;
}

body {
    background-color: var(--primary_cream);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--neutral_grayishBlue);
}

main {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_container {
    width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    background-color: white;
    border-radius: 0.714rem;
    overflow: hidden;
}

picture > img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.text_container {
    height: 100%;
    width: 100%;
}

.text_wrapper > p:nth-child(1) {
    text-transform: uppercase;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 1.429rem;
    justify-content: space-evenly;
    height: 100%;
}

.line-spacing {
    letter-spacing: 0.357rem;
}

.green-btn {
    background-color: var(--green);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.071rem;
    border-radius: 0.571rem;
    gap: 0 .8rem;
    border: none;
    transition: background-color .1s;
    cursor: pointer;
}

.green-btn:hover, .green-btn:active {
    background-color: #265c46;
}

.align-mid {
    display: flex;
    align-items: center;
    gap: 0 1.071rem;
}

.green-text {
    font-family: 'Fraunces', serif;
    font-size: 1.786rem;
    font-weight: 700;
    color: var(--green);
}

.strikethrough {
    text-decoration: line-through;
    color: var(--neutral_grayishBlue);
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}



@media only screen and (max-width: 600px) {
    h1 {
        font-family: 'Fraunces', serif;
        font-size: 2.143rem;
        font-weight: 700;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.143rem;
        color: var(--neutral_grayishBlue);
    }
    
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.429rem;
    }
    
    .main_container {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 0.714rem;
        overflow: hidden;
    }

    .text_container {
        height: 100%;
        width: 100%;
    }
    
    .text_wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0px 1.429rem;
        justify-content: space-evenly;
    }
    
    .line-spacing {
        letter-spacing: 0.357rem;
    }
    
    .mobile-img {
        display: none;
        width: 100%;
    }
    
    .desktop-img {
        display: none;
        width: 100%;
    }
    
    .green-btn {
        background-color: var(--green);
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        padding: 1.071rem;
        border-radius: 0.571rem;
        gap: 0 .8rem;
        border: none;
        cursor: pointer;
    }
    
    .align-mid {
        display: flex;
        align-items: center;
        gap: 0 1.071rem;
    }
    
    .green-text {
        font-family: 'Fraunces', serif;
        font-size: 1.786rem;
        font-weight: 700;
        color: var(--green);
    }
}